<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../src/css/login.css" rel="stylesheet">
    <link href="../src/css/tailwind/style.css" rel="stylesheet">


    <title>Document</title>
</head>
<body class="background justify-items-center" style="background-color: #9F090A;">   
     <div class="flex justify-center" style="background-color: white;">
        Hey waddapdsadasdsadsad
    </div>
    <h1 class="bg-red-400">Hi bitch</h1>
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
</body>
</html>