<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../src/css/login.css" rel="stylesheet">
    <link href="../src/css/tailwind/style.css" rel="stylesheet">


    <title>Document</title>
</head>
<body class="flex background justify-center items-center h-screen bg-dark-red-5" style="font-family: 'Open Sans'">   
    <div class="flex flex-col items-center justify-center bg-white-yellow h-auto min-h-[50vh] min-w-[350px] max-w-[33.3333%] py-5">
        <p class="text-3xl font-bold">Register</p>
        <form class="flex flex-col items-center w-5/6 my-2">
            <div class="w-full flex flex-col md:flex-row md:space-x-4">
                <div class="w-full md:w-1/2">
                    <label class="self-start" for="fname">First Name:</label>
                    <input type="text" id="fname" name="fname" class="border border-black pl-2 pr-4 py-1 h-10 mt-1 focus:outline-none w-full">
                </div>
                <div class="w-full md:w-1/2 md:mt-0">
                    <label class="self-start" for="mname">Middle Name:</label>
                    <input type="text" id="mname" name="mname" class="border border-black pl-2 pr-4 py-1 h-10 mt-1 focus:outline-none w-full">
                </div>
            </div>
            
            <div class="w-full flex flex-col md:flex-row md:space-x-4 mt-2">
                <div class="w-full md:w-1/2">
                    <label class="self-start mt-2" for="lname">Last Name:</label>
                    <input type="text" id="lname" name="lname" class="border border-black pl-2 pr-4 py-1 h-10 mt-1 focus:outline-none w-full">
                </div>
                <div class="w-full md:w-1/2">
                    <label class="self-start mt-2" for="birthday">Birthdate:</label>
                    <input type="date" id="birthday" name="birthday" class="border border-black pl-2 pr-4 py-1 h-10 mt-1 focus:outline-none w-full">
                </div>
            </div>
            <div class="w-full mt-2">
                <label class="self-start mt-2" for="email">Email:</label>
                <input type="email" id="email" name="email" class="border border-black pl-2 pr-4 py-1 h-10 mt-1 focus:outline-none w-full">
            </div>
            <div class="w-full mt-2">
                <label class="self-start mt-2" for="phone-num">Phone Number:</label>
                <input type="tel" id="phone-num" name="phone-num" class="border border-black pl-2 pr-4 py-1 h-10 mt-1 focus:outline-none w-full">
            </div>

            <div class="w-full mt-2">
                <label class="self-start mt-2" for="password">Password:</label>
                <input type="password" id="password" name="password" class="border border-black pl-2 pr-4 py-1 h-10 mt-1 focus:outline-none w-full">
            </div>
            
            <div class="w-full mt-2">
                <label class="self-start mt-2" for="conf-password">Confirm Password:</label>
                <input type="password" id="conf-password" name="conf-password" class="border border-black pl-2 pr-4 py-1 h-10 mt-1 focus:outline-none w-full">
            </div>
            
            <button type="button" class="mt-5 w-32 h-10 self-center font-bold bg-dark-red-2 text-white-yellow hover:bg-german-red ease-in duration-150" onclick="openModal('otp-modal', 'overlay-1')">Register</button>
        </form>

        <div>
            <p class="text-sm">Already have an account? <span class="cursor-pointer text-german-red hover:text-dark-red-2"> <a href="index.html">Sign in</a></span> </p>
        </div>
    </div>

    <div id="overlay-1" class="hidden fixed size-full bg-modal-overlay transition-opacity opacity-0 ease-in"></div>
    <div id="otp-modal" class="hidden fixed min-h-48 bg-white-yellow items-center justify-center flex-col transition-opacity opacity-0 ease-in">
    
        <div class="mx-20 my-8">
            
            <h1 class="text-4xl">Verify with Email</h1>
            <p class="text-center mt-5">A 6 digit code was sent to</p>
            
            <!-- Replace with backend logic of email inputted in form-->
            <p class="text-german-red text-center">polanodolor@gmail.com</p>
            
            <form class="flex flex-col mt-10">
                <p class="text-xs text-center" >Please enter the authentication code</p>  
            
            <!-- 6-digit Input -->
            <!-- Replaace if possible with react components ang inputs -->
            <div class="input-field flex fex-col items-center justify-center space-x-2 text-2xl">
                <input type="number" maxlength="1" class=" h-11 w-10 outline-none text-2xl text-center border-b-2 bg-transparent border-black bg-none focus:bg-none active:bg-none">
                <input type="number" maxlength="1" class="h-11 w-10 outline-none text-center border-b-2 bg-transparent border-black disabled:bg-none focus:bg-none" disabled />
                <input type="number" maxlength="1" class="h-11 w-10 outline-none text-center border-b-2 bg-transparent border-black disabled:bg-none focus:bg-none" disabled />
                <input type="number" maxlength="1" class="h-11 w-10 outline-none text-center border-b-2 bg-transparent border-black disabled:bg-none focus:bg-none" disabled />
                <input type="number" maxlength="1" class="h-11 w-10 outline-none text-center border-b-2 bg-transparent border-black disabled:bg-none focus:bg-none" disabled />
                <input type="number" maxlength="1" class="h-11 w-10 outline-none text-center border-b-2 bg-transparent border-black disabled:bg-none focus:bg-none" disabled />
            </div>
            
            
            <a href="student/home.html" class="self-center mt-8"><button class="w-36 h-10 self-center size-8 font-bold bg-dark-red-2 text-white-yellow hover:bg-german-red ease-in duration-150" type="button">Confirm</button></a>
            <div class="self-center mt-2">
                <!-- Change code logic of span with resending OTP to email -->
                <p class="text-sm">Didn't get the code? <span class="cursor-pointer text-german-red hover:text-dark-red-2">Click here </span>to resend</p>
            </div>
        </div>
            
        </form>
    </div>


    <script src="../src/js/modal.js"></script>
    <script src="../src/js/otp.js"></script>


</body>
</html>