@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-VariableFont_wdth-wght.ttf),
         url(../fonts/OpenSans-Italic-VariableFont_wdth-wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    min-height: 100%;
}

body{
    background-color: #FFFDF2;
    font-family: 'Open Sans';
}

.navbar{
    height: 120px;
    background-color: #DE0000;
}



/*----------------------------------------*/
/*------------- Backgrounds --------------*/
/*----------------------------------------*/

.bg_1 {
    position: relative;
    background-image: url(../pictures/bg_1.png);
    background-size: cover;
    background-position: center;
}

.bg_2 {
    position: relative;
    min-height: 100vh;
}

.bg_2 .content {
    position: relative;
    z-index: 2;
}

.bg_2::after {
    position: absolute;
    top: -516px;
    background: url(../pictures/bg_2.png);
    content: '';
    width: 100%;
    height: calc(100% + 516px);
    z-index: 1;
}



/*----------------------------------------*/
/*---------------- Modal -----------------*/
/*----------------------------------------*/

.hidden{
    transition: opacity 0.3s ease-in;
}



/*----------------------------------------*/
/*--------------- Inputs -----------------*/
/*----------------------------------------*/
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
    display: none;
}