/*----------------------------------------*/
/*-------------- Containers --------------*/
/*----------------------------------------*/

.kebab-options {
    transition: all 0.25s ease-out;
    transform: scale(0);
    transform-origin: 100% 0;
    li {
        box-sizing: border-box;
        line-height: 2.3rem;
        padding: 0 16px;
        &:hover {
            background: #D9D9D9;
        }
    }
    &:hover {
        ul {
            transform: scale(1);
        }
    }
}

.kebab-options.active {
    transform: scale(1);
    transition: all 0.25s cubic-bezier(.5,1.8,.9,.8);
}

/* CAN I KEEP GLOBAL AND BROADCAST CLASS?? */
.global{
    background-color: #FFCF00;
    border: 2px solid #CCA421;
}

.broadcast{
    background-color: #DDA75D;
    border: 2px solid #896B42;
}



/*----------------------------------------*/
/*---------------- Emojis ----------------*/
/*----------------------------------------*/

.wrapper{
    z-index: 4;
    .emoji-picker__preview{
        height: 3.5rem;
    }
    .emoji-picker__preview-emoji{
        font-size: 2rem;
    }
}

