<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Content Module</title>

        <link href="../../src/css/tailwind/style.css" rel="stylesheet">
        <link href="../../src/css/style.css" rel="stylesheet">
        <link href="../../src/css/style-post.css" rel="stylesheet">
    </head>
    <body class="">
        <div class="background">
            <div class="content">
                <nav class="navbar">.</nav>
            
                <div class="h-screen">.</div>
                <div class="h-screen">.</div>
                <div class="h-screen">.</div>
                <div class="h-screen">.</div>
                <div class="h-screen">.</div>
                <div class="h-screen">.</div>
            </div>
        </div>
        
    </body>
</html>